.season__container {
    display: flex;
    flex-wrap: wrap;
    background-color: #dff4d7;
    max-width: 100%;
    width: 65%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.season__container h1 {
    margin: 6rem 2rem 2rem 5rem;
    letter-spacing: .05em;
    line-height: 1.3em;
}

.season__container p {
    margin: 2rem 5rem 5rem 5rem;
}

.season {
    display: block;
    width: 50%;
}

.season__photo__container img {
    position: relative;
    width: 100%;
    float: right;
    top: -1rem;
}

.season__photo__container {
    margin: 0 auto;
    width: 40%;
}

/* Intermezzo */

.party {
    width: 65%;
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 3rem;
}

.party ul {
    padding-left: 3rem;
}

.party h2 {
    padding-bottom: 2rem;
}

.party h3 {
    font-size: 1.8rem;
    line-height: 2rem;
    font-family: 'Bilingual serif font';
    font-weight: normal;
    color: #93c683;
    margin-bottom: 0.6rem;
    padding-top: 2rem;
}

/* seizoenen */

.season--big__container {
    width: 24%;
    margin: 0 auto;
}

.season--big__container h3 {
    font-size: 1.8rem;
    line-height: 2rem;
    font-family: 'Bilingual serif font';
    font-weight: normal;
    color: #93c683;
    margin-bottom: 0.6rem;
}

.season--big__container article {
    margin-bottom: 4rem;
}

.season--big__container article figcaption {
    width: 12rem;
    opacity: 0.6;
    font-size: 0.8rem;
    text-align: center;
}

.spring img{
    width: 22rem;
}

.easter img {
    width: 22rem;
}

.summer img {
    width: 22rem;
}

.autumn img {
    width: 22rem;
}

/* Voorbeelden  */

.examples {
    max-width: 100%;
    width: 65%;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
}

.examples__container {
    width: 100%;
    padding-top: 2rem;
}

.examples__container ul {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 3rem;
    justify-content: space-between;
}

.examples__container li {
    list-style-type: none;
    text-decoration-color: #f2d6e3;
}

.examples__photo a {
    text-decoration-color: #f2d6e3;
}

.examples__photo a img {
    height: 22.5rem;
    width: 22.5rem;
    object-fit: cover;
    box-shadow: 13px 13px #fff8e1;
}

/* Interesse */

.interesse {
    width: 65%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 2rem;
}

.interesse h2 {
    line-height: 2.5rem;
    letter-spacing: .05em;
}


/* Formulier */

.container__form {
    background-color: #00372b;
    color: #d3f4da;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 2rem;
    margin: 0 auto;
    width: 72%;
    margin-bottom: 2rem;
}

.form {
    width: 55%; 
}

.form__text {
    background-color: #93c683;
    height: 6.25rem;
}

.form__button {
    box-sizing: border-box;
    border: 1px solid #00b62f;
    border-radius: 10px;
    padding: 0.5rem 0.7rem;
    width: 6rem;
    margin-left: 1rem;
    margin-top: 1rem;
    color: #fff;
    cursor: pointer;
}

label {
    display: block;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 0.75rem;
    display: inline-block;
}

input {
    display: block;
    background-color: #93c683;
    margin-left: 1rem;
    width: 80%;
    padding: 0.5rem;
    border-radius: 10px;
    border-color: #93c683;
}

textarea {
    display: block;
    background-color: #93c683;
    margin-left: 1rem;
    width: 80%;
    padding: 0.5rem;
    border-radius: 10px;
    border-color: #93c683;
}

.direct-contact {
    width: 38%;
    margin: 0 auto;
    font-size: 1rem;
    padding-top: 3rem;
}